* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #f5df4d;
}

main {
    margin: 0 10%;
}

section {
    padding: 15px;
}

.titulo {
    padding: 30px 20px;
    text-align: center;
}

form {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

input,
select,
textarea {
    width: 100%;
    border: 1px solid #858585;
    border-radius: 1px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 100px;
}

input[type=checkbox] {
    width: auto;
}

button {
    padding: 14px 28px;
    color: #fff;
    cursor: pointer;
    background-color: #1e90ff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button:hover {
    background-color: #0182ff;
}

.erro {
    display: none;
    color: #ff1a1a;
    font-style: italic;
    font-weight: bold;
}

iframe {
    width: 100%;
}